<div class="sideMenuPart" id="app-nav-submenu" pageId="app::////PointingToDeclaration//479833976">
  <div class="overview"><a href="index.html"><span>app</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;app-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
  <div class="sideMenuPart" id="app-nav-submenu-0" pageId="app::com.chronoboss.chronoboss////PointingToDeclaration//479833976">
    <div class="overview"><a href="app/com.chronoboss.chronoboss/index.html"><span>com.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>chronoboss</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;app-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="app-nav-submenu-0-0" pageId="app::com.chronoboss.chronoboss/AboutActivity///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-about-activity/index.html"><span>About</span><wbr></wbr><span>Activity</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-1" pageId="app::com.chronoboss.chronoboss/AndroidUtils///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-android-utils/index.html"><span>Android</span><wbr></wbr><span>Utils</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-2" pageId="app::com.chronoboss.chronoboss/BankingService///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-banking-service/index.html"><span>Banking</span><wbr></wbr><span>Service</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-3" pageId="app::com.chronoboss.chronoboss/ChooseProd2///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-choose-prod2/index.html"><span>Choose</span><wbr></wbr><span>Prod2</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-4" pageId="app::com.chronoboss.chronoboss/ChooseUnprod1///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-choose-unprod1/index.html"><span>Choose</span><wbr></wbr><span>Unprod1</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-5" pageId="app::com.chronoboss.chronoboss/ChooseUnprod2///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-choose-unprod2/index.html"><span>Choose</span><wbr></wbr><span>Unprod2</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-6" pageId="app::com.chronoboss.chronoboss//getAppTimes/#android.content.Context#kotlin.String?#kotlin.Long#kotlin.Long/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/get-app-times.html"><span>get</span><wbr></wbr><span>App</span><wbr></wbr><span>Times()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-7" pageId="app::com.chronoboss.chronoboss//getPackageName/#android.app.usage.UsageStats?/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/get-package-name.html"><span>get</span><wbr></wbr><span>Package</span><wbr></wbr><span>Name()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-8" pageId="app::com.chronoboss.chronoboss//getTargetPackage/#android.content.Context?#android.app.usage.UsageStats?#kotlin.collections.List[android.app.usage.UsageStats]?/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/get-target-package.html"><span>get</span><wbr></wbr><span>Target</span><wbr></wbr><span>Package()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-9" pageId="app::com.chronoboss.chronoboss//getTimeInForeground/#android.app.usage.UsageStats?/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/get-time-in-foreground.html"><span>get</span><wbr></wbr><span>Time</span><wbr></wbr><span>In</span><wbr></wbr><span>Foreground()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-10" pageId="app::com.chronoboss.chronoboss//getUsageStats/#android.content.Context?#kotlin.Long#kotlin.Long/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/get-usage-stats.html"><span>get</span><wbr></wbr><span>Usage</span><wbr></wbr><span>Stats()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-11" pageId="app::com.chronoboss.chronoboss//hasUsageStatsPermission/#android.content.Context#android.app.Activity/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/has-usage-stats-permission.html"><span>has</span><wbr></wbr><span>Usage</span><wbr></wbr><span>Stats</span><wbr></wbr><span>Permission()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-12" pageId="app::com.chronoboss.chronoboss/MainActivity///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-main-activity/index.html"><span>Main</span><wbr></wbr><span>Activity</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-13" pageId="app::com.chronoboss.chronoboss/PollingService///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-polling-service/index.html"><span>Polling</span><wbr></wbr><span>Service</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-14" pageId="app::com.chronoboss.chronoboss/PollingUtils///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-polling-utils/index.html"><span>Polling</span><wbr></wbr><span>Utils</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-15" pageId="app::com.chronoboss.chronoboss//requestUsageStatsPermission/#android.app.Activity/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/request-usage-stats-permission.html"><span>request</span><wbr></wbr><span>Usage</span><wbr></wbr><span>Stats</span><wbr></wbr><span>Permission()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-16" pageId="app::com.chronoboss.chronoboss/SelectProductive///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-select-productive/index.html"><span>Select</span><wbr></wbr><span>Productive</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-17" pageId="app::com.chronoboss.chronoboss/SelectUnproductive///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-select-unproductive/index.html"><span>Select</span><wbr></wbr><span>Unproductive</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-18" pageId="app::com.chronoboss.chronoboss/TestChoose///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-test-choose/index.html"><span>Test</span><wbr></wbr><span>Choose</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-19" pageId="app::com.chronoboss.chronoboss/TestServLock///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss/-test-serv-lock/index.html"><span>Test</span><wbr></wbr><span>Serv</span><wbr></wbr><span>Lock</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-1" pageId="app::com.chronoboss.chronoboss.ui.dashboard////PointingToDeclaration//479833976">
    <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.dashboard/index.html"><span>com.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>dashboard</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;app-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="app-nav-submenu-1-0" pageId="app::com.chronoboss.chronoboss.ui.dashboard/DashboardFragment///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.dashboard/-dashboard-fragment/index.html"><span>Dashboard</span><wbr></wbr><span>Fragment</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-1-1" pageId="app::com.chronoboss.chronoboss.ui.dashboard/DashboardViewModel///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.dashboard/-dashboard-view-model/index.html"><span>Dashboard</span><wbr></wbr><span>View</span><wbr></wbr><span>Model</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-2" pageId="app::com.chronoboss.chronoboss.ui.home////PointingToDeclaration//479833976">
    <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.home/index.html"><span>com.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>home</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;app-nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="app-nav-submenu-2-0" pageId="app::com.chronoboss.chronoboss.ui.home/HomeFragment///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.home/-home-fragment/index.html"><span>Home</span><wbr></wbr><span>Fragment</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-2-1" pageId="app::com.chronoboss.chronoboss.ui.home/HomeViewModel///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.home/-home-view-model/index.html"><span>Home</span><wbr></wbr><span>View</span><wbr></wbr><span>Model</span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-3" pageId="app::com.chronoboss.chronoboss.ui.notifications////PointingToDeclaration//479833976">
    <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.notifications/index.html"><span>com.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>chronoboss.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>notifications</span></a><span class="navButton pull-right" onclick="document.getElementById(&quot;app-nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span></div>
    <div class="sideMenuPart" id="app-nav-submenu-3-0" pageId="app::com.chronoboss.chronoboss.ui.notifications//getInstalledApps/#android.content.Context/PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.notifications/get-installed-apps.html"><span>get</span><wbr></wbr><span>Installed</span><wbr></wbr><span>Apps()</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-3-1" pageId="app::com.chronoboss.chronoboss.ui.notifications/NotificationsFragment///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.notifications/-notifications-fragment/index.html"><span>Notifications</span><wbr></wbr><span>Fragment</span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-3-2" pageId="app::com.chronoboss.chronoboss.ui.notifications/NotificationsViewModel///PointingToDeclaration//479833976">
      <div class="overview"><a href="app/com.chronoboss.chronoboss.ui.notifications/-notifications-view-model/index.html"><span>Notifications</span><wbr></wbr><span>View</span><wbr></wbr><span>Model</span></a></div>
    </div>
  </div>
</div>

